* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e4dccf;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: #eee;
}

h2 {
  font-family: 'Lobster', cursive;
}

p {
  color: #576f72;
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style: none;
  color: #eee;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

strong {
  font-weight: 900;
}

/* Animations */

@keyframes slide-left {
  0% {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

@keyframes slide-right {
  0% {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

/* Navigation Bar */

.navbar {
  background: #7d9d9c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  color: #eee;
  font-size: 26px;
  padding: 25px 0px;
  font-family: 'Zilla Slab', serif;
  text-shadow: 5px 5px 5px #4a5759;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0px 20px 0px;
  font-size: 14px;
  font-family: 'Merriweather', serif;
}

.nav-item {
  padding: 0px 25px;
  cursor: pointer;
  color: #fff;
  text-shadow: 2px 4px 6px #4a5759;
  display: inline-block;
  animation: slide-left .7s ease forwards;
}

.nav-item:hover {
  box-shadow: inset 150px 0 0 0 #576f72;
  color: #fff;
  transition: .4s linear;
}


@media (min-width: 600px) {
  #logo {
    font-size: 34px;
  }
}

@media (min-width: 1400px) {
  #logo {
    font-size: 40px;
  }
  .nav-menu {
    font-size: 16px;
  }
  .nav-item {
    padding: 0px 30px;
  }
}

/* Introduction Section */

.intro-section {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 15px 80px 15px;
}

.intro-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 25px;
  width: 290px;
  height: 280px;
  border: #5a6b8d 3px solid;
  box-shadow: -10px 10px 5px #4a5759;
  animation: 1.5s slide-right;
}

.intro-image2 {
  display: none;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 290px;
  height: 280px;
  border: #5a6b8d 3px solid;
  box-shadow: 10px 10px 5px #4a5759;
  animation: 1.5s slide-left;
}

.center-text {
  font-size: 28px;
  color: #eee;
  background-color: #576f72;
  padding: 5px;
  margin: 10px;
  font-family: 'Zilla Slab', serif;
  border-radius: 50px;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 2px 2px #7d9d9c;
  transition: all 2s ease;
}

.intro-text p {
  font-size: 14px;
  margin: 20px 10px;
  text-align: center;
  letter-spacing: 1px;
  animation: slide-left 1.5s ease forwards;
}

.intro-text span {
  font-size: 16px;
  font-weight: 900;
}

@media (min-width: 600px) {
  .intro-section {
    flex-direction: row;
    margin: 50px;
  }
  .intro-image {
    width: 300px;
    height: 290px;
    box-shadow: -12px 12px 7px #4a5759;
  }
  .intro-text {
    margin-left: 35px;
  }
}

@media (min-width: 1000px) {
  .intro-image {
    height: 300px;
    width: 290px;
    box-shadow: -14px 14px 7px #4a5759;
  }
  .intro-image2 {
    display: flex;
    height: 300px;
    width: 300px;
    box-shadow: 14px 14px 7px #4a5759;
  }
  .intro-section {
    margin: 50px;
  }
  .intro-text {
    margin: 30px;
  }
}

@media (min-width: 1400px) {
  .intro-section {
    margin: 80px;
    margin-bottom: 125px;
  }
  .intro-image {
    height: 420px;
    width: 400px;
    box-shadow: -15px 15px 7px #4a5759;
  }
  .intro-image2 {
    display: flex;
    height: 420px;
    width: 400px;
    box-shadow: 15px 15px 7px #4a5759;
  }
  .intro-text {
    margin: 60px;
  }
  .center-text {
    font-size: 35px;
    text-shadow: 3px 3px #7d9d9c;
  }
  .intro-text p {
    font-size: 16px;
  }
  .intro-text span {
    font-size: 18px;
  }
}

/* About Section */

.about-section {
  margin: 15px;
}

.about-text h2 {
  font-size: 40px;
  margin: 35px;
  color: #576f72;
  text-align: center;
  text-decoration: overline underline;
  text-underline-offset: 15px;
}

.about-name {
  font-size: 30px;
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 1px;
}

.about-paras {
  background-color: #F0EBE3;
  padding: 20px;
  border-radius: 20px;
  font-size: 14px;
  margin-top: 10px;
}


/* Footer Section */

.footer {
  background: #576f72;
  margin-top: 100px;
  padding-bottom: 500px;
}