* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: #eee;
}

p {
  color: #eee;
}

ul {
  list-style: none;
  color: #eee;
}

.navbar {
  background: #7d9d9c;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  font-family: 'Zilla Slab', serif;
  font-size: 30px;
  color: #eee;
}

.ooo {
  background: #e4dccf;
  padding-bottom: 3000px;
}

.footer {
  background: #576f72;
  padding-bottom: 500px;
}
