* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
  color: #eee;
}

p {
  color: #eee;
}

ul {
    list-style: none;
    color: #eee;
}
  
.nav-section {
    background: #7D9D9C;
}

#logo {
    font-family: 'Zilla Slab', serif;
    font-size: 30px;
    color: #eee;
}

.ooo {
    background: #E4DCCF;
    padding-bottom: 3000px;
}

.footer {
    background: #576F72;
    padding-bottom: 500px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
  }


